<div class="page-header">
  <h1>Editing User #<%= @user.id %></h1>
</div>

<%= form_tag(user_url(@user), method: 'patch', class: 'form-horizontal') do %>

  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :first_name, @user.first_name, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :second_name, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :second_name, @user.second_name, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :date_of_birth, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= date_select_tag :date_of_birth, @user.date_of_birth, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email_address, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :email_address, @user.email_address, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :general_size, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :general_size, @user.general_size, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :uk_size, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :uk_size, @user.uk_size, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :us_size, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :us_size, @user.us_size, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :eu_size, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :eu_size, @user.eu_size, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :waist_size, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :waist_size, @user.waist_size, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :hip_size, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :hip_size, @user.hip_size, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :bust_size, nil, class: 'col-md-2 control-label' %>

    <div class="col-md-6">
      <%= text_field_tag :bust_size, @user.bust_size, class: 'form-control'%>
    </div>
  </div>


    <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
          <%= submit_tag "Update User", class: 'btn btn-primary' %>
    </div>
<div>

  </div>


<% end %>
