<div class="page-header">
  <h1><%= @item.name %></h1>
</div>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <b>Colour:</b>
  <%= @item.colour %>
</p>

<p>
  <b>Brand:</b>
  <%= @item.brand %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Flattering for:</b>
  <%= @item.flattering_for %>
</p>

<p>
  <b>Extra support:</b>
  <%= @item.extra_support %>
</p>

<p>
  <img width="100" src="<%= @item.image_url %>">
</p>

<p>
  <b>General size:</b>
  <%= @item.general_size %>
</p>

<p>
  <b>Us size:</b>
  <%= @item.us_size %>
</p>

<p>
  <b>Uk size:</b>
  <%= @item.uk_size %>
</p>

<p>
  <b>Eu size:</b>
  <%= @item.eu_size %>
</p>

<p>
  <b>Waist size:</b>
  <%= @item.waist_size %>
</p>

<p>
  <b>Hip size:</b>
  <%= @item.hip_size %>
</p>

<p>
  <b>Bust size:</b>
  <%= @item.bust_size %>
</p>


